<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SpringOnePlatform - Rock Paper Scissors Lizard Spock</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()">
                    <form th:action="@{/signin/twitter}" method="post" class="navbar-form navbar-left">
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/connect/twitter}" method="post" class="navbar-form navbar-left">
                        <button type="submit" class="btn btn-success">Logout</button>
                        <input type="hidden" name="_method" value="delete" />
                    </form>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">SpringOne Platform 2016 - <b>Las Vegas</b></h3>
    </div>
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <div sec:authorize="isAuthenticated()">
        <hr/>
        <h2>Who's Currently Playing?</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                    </div>
                    <div class="panel-body" id="chat-box"
                         style="min-height: 200px; max-height: 200px; overflow-y: scroll">
                        <ul id="chat-messages" class="list-unstyled"></ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text" class="form-control input-sm" placeholder="Chat..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" onclick="chat()">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span> Player 1
                    </div>
                    <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: scroll">
                        <button id="joinButton1" class="btn btn-primary" onclick="joinGame()">Join</button>
                        <img id="playerOneImg" width="75" height="75" style="display: none;"/>
                    </div>
                    <div class="panel-footer">
                        <span id="playerOne">

                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span> Player 2
                    </div>
                    <div class="panel-body" style="min-height: 200px; max-height: 200px; overflow-y: scroll">
                        <button id="joinButton2" class="btn btn-primary" onclick="joinGame()">Join</button>
                        <img id="playerTwoImg" width="75" height="75" style="display: none;"/>
                    </div>
                    <div class="panel-footer">
                        <span id="playerTwo">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <h2>How To Play?</h2>
    <div class="row">
        <div class="col-lg-7">
            <img class="bordered-img" src="../static/img/rpsls.png" th:src="@{/img/rpsls.png}"
                 width="400"
                 height="300"/>
        </div>
        <div class="col-lg-5">
            <ul class="list-unstyled rules">
                <li>Scissors cuts Paper</li>
                <li>Paper covers Rock</li>
                <li>Rock crushes Lizard</li>
                <li>Lizard poisons Spock</li>
                <li>Spock smashes Scissors</li>
                <li>Scissors decapitates Lizard</li>
                <li>Lizard eats Paper</li>
                <li>Paper disproves Spock</li>
                <li>Spock vaporizes Rock</li>
                <li>(and as it always has) Rock crushes Scissors</li>
            </ul>
        </div>
    </div>
</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="../static/js/sockjs.js" th:src="@{/js/sockjs.js}"></script>
<script src="../static/js/stomp.js" th:src="@{/js/stomp.js}"></script>
<script src="../static/js/websocket.js" th:src="@{/js/websocket.js}" sec:authorize="isAuthenticated()"
        type="text/javascript"></script>
<script src="../static/js/game.js" th:src="@{/js/game.js}" sec:authorize="isAuthenticated()"
        type="text/javascript"></script>
</body>
</html>
